.container {
    width: 90vw;
    height: 110vh;
}

.graphic {
    margin: auto;
    height: 40vh;
    width: 80vw;
}

.img {
    box-shadow: 0 0 10px #184b7d, 0 0 20px #184b7d, 0 0 30px #184b7d, 0 0 40px #184b7d;
    width: 100%;
    height: 100%;
    border-radius: 15%;
}


.block__text {
    width: 90vw;
    height: 60vw;
}

.title {
    color: #5a1a77;
    font-weight: bold;
    font-size: 3rem;
    width: 90vw;
    padding-left: 10%;
}

.text {
    width: 90vw;
    padding-left: 7%;
    line-height: 1.6rem;
}

@media screen and (min-width: 768px) {
    .container {
        height: 90vh;
    }
    
    .graphic {
        width: 60vw;
    }
    .text {
        padding-left: 10%;
    }
}

@media screen and (min-width: 768px) {
    .container {
        height: 77vh;
    }
    
    .graphic {
        width: 33vw;
        height: 30vh;
    }
    .text {
        padding-left: 10%;
    }
}

@media screen and (min-width: 1440px) {
    .container {
        height: 87vh;
    }
    
    .graphic {
        width: 40vw;
        height: 40vh;
    }
    .text {
        padding-left: 20%;
        width: 60vw;
    }
    .title {
        width: 70vw;
        padding-left: 17%;
    }
    
}