.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90vw;
    height: 90vh;
}

.product__box, .form {
    width: 47%;
    height: 100%;
    border: 2px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img {
    position: relative;
    top: -10vh;
    left: 13vw;
    width: 30vw;
    height: 50vh;
    background: transparent;
}

.price {
    z-index: 2;
    width: 40vw;
    height: 10vh;
    text-align: center;
    position: relative;
    left: -7vw;
    top: 27vh;
    color: #5a1a77;
    font-weight: bold;
    font-size: 1.8rem;
}