.container {
    width: 90vw;
    height: 100vh;
}

.bigDes{
    font-weight: bold;
    font-size: 3rem;
    width: 90vw;
    padding-left: 10%;
}

.smallDes {
    width: 90vw;
    padding-left: 7%;
    line-height: 1.6rem;
}

.color {
    color: #5a1a77;
}